<head>

<meta charset="utf-8">
 <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
 <meta name="description" content="{{ page.description }}">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no; maximum-scale=1.0; user-scalable=0;">

 <link href="{{ "/assets/img/logo/favicon.png" | prepend: site.baseurl }}" rel="icon"> 
 <link rel="icon" type="image/png" sizes="16x16" href="assets/img/logo/favicon.png"> 
     
 <link rel="stylesheet" href="{{ "/assets/css/styles.css" | prepend: site.baseurl }}">
     

{% seo title=false %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panesar Crankshaft Centre</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Montserrat:wght@400&display=swap" rel="stylesheet">
    
    <!-- Added Meta Keywords and Description -->
    <meta name="keywords" content="Turbine Shaft Grinding, Repair of Turbine Shaft in Africa, Repair Of Alternator Shaft Africa, Grinding of Alternator shaft, Onsite Inspection Of Crankshaft, On Site Crankshaft Grinding In Africa, In Situ Machining Repair Services, in situ crankshaft grinding repair, Diesel Engine Repair, Diesel Engine Overhauling Africa, Crankshaft Reconditioning, Crankshaft Journal Grinding, Crankshaft Machining In Africa, Crankshaft Grinding Repair, Crankshaft Grinding And Polishing, Metal stitching of engine block, Crankshaft Grinding In Africa, Metal locking in Africa, On-site crankshaft repair, Crankshaft Polishing Machine In Africa, Onsite Crankshaft Grinding services">
    <meta name="description" content="Expert services in crankshaft grinding, engine repairs, and machining in Africa. We specialize in turbine shaft grinding, onsite crankshaft repair, and more.">
        

</head>

